stages:
  - build
  - qa
  - serve
  - cleanup

.docker-job:
  rules:
    - if : $CI_COMMIT_BRANCH == "dev"
      variables:
        TAG: dev-${CI_COMMIT_SHORT_SHA}
        SECRETS: ${SECRETS_DEV}
      changes:
        - src/*
        - Dockerfile
    - if : $CI_COMMIT_BRANCH == "int"
      variables:
        TAG: snapshot-${CI_COMMIT_SHORT_SHA}
        SECRETS: ${SECRETS_INT}
    - if : $CI_COMMIT_TAG
      variables:
        TAG: $CI_COMMIT_TAG
        SECRETS: ${SECRETS_PROD}
  before_script:
    - echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin

variables:
  DOCKER_IMAGE: ayerman/wattsy-bot

build:
  image: docker:27.2.0
  stage: build
  extends: .docker-job
  services:
    - docker:27.2.0-dind
  script:
    - docker build --build-arg WATTSY_VERSION=$TAG -t $DOCKER_IMAGE:$TAG .

linter:
  image: 
    name: $DOCKER_IMAGE:latest
    pull_policy: if-not-present
  stage: qa
  script:
    - pip install pylint
    - pylint src

tag-to-latest:
  image: docker:27.2.0
  stage: serve
  extends: .docker-job
  services:
    - docker:27.2.0-dind
  dependencies:
    - build
  script:
    - docker tag $DOCKER_IMAGE:$TAG $DOCKER_IMAGE:latest

publish-versions:
  image: docker:27.2.0
  stage: serve
  extends: .docker-job
  services:
    - docker:27.2.0-dind
  dependencies:
    - tag-to-latest
  rules:
    - if: $CI_COMMIT_BRANCH == "dev"
      when: never
  script:
    - docker push $DOCKER_IMAGE:$TAG
    - docker push $DOCKER_IMAGE:latest

deploy-as-latest:
  image: docker:27.2.0
  stage: serve
  extends: .docker-job
  services:
    - docker:27.2.0-dind
  dependencies:
    - publish-versions
  rules:
    - if: $CI_COMMIT_BRANCH == "dev"
      when: never
  script:
    - docker compose pull
    - docker compose up -d

cleanup:
  image: docker:27.2.0
  stage: cleanup
  extends: .docker-job
  services:
    - docker:27.2.0-dind
  dependencies:
    - build
  script:
    - docker rmi $DOCKER_IMAGE:$TAG || true
  when: on_failure
